
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let meet of firstMeet | json" [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           Prowadzący:  {{ meet.leader }}
            <mat-card-actions>
            Data:  {{ meet.date }}
            </mat-card-actions>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1>{{ meet.topic }}</h1>
          <h2>{{ meet.description }}</h2>
        </mat-card-content>
        <h1>Linki</h1>
        <mat-card-footer>{{ meet.usefulLinks }}</mat-card-footer>
        <button mat-raised-button
        matTooltip="Przejdź do spotkania">Do spotkania</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
