<mat-toolbar color="primary">
  <mat-toolbar-row>
   <h1>Coding Tree Panel</h1>
    <span class="menu-spacer"></span>
      <a mat-button [routerLink]="'/'"> Strona główna </a>
      <a mat-button [routerLink]="'/harmonogram'"> Harmonogram </a>
      <a mat-button [routerLink]="'/meetings'"> Baza tematów </a>
      <a mat-button [routerLink]="'/create-contact'"> Historia </a>
      <span class="spacer-two"></span>
      <a mat-button [routerLink]="'/activities'"> Konto </a>
      <a mat-button [routerLink]="'/create-activity'"> Wyloguj </a>
  </mat-toolbar-row>
</mat-toolbar>