.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  background-color: darkslategrey;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
}
.mat-toolbar-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-spacer{
  flex: 1 1 auto;
}
.spacer-two {
  flex: 1 1 auto;
}

h1, a {
  font-size: 20px;
}

a:hover{
  color: black;
  background-color: white;
}