<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let meet of meetings" [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           Prowadzący:  {{ meet["leader"] }}
            <mat-card-actions>
            Data:  {{ meet["date"] | date: 'yyyy-MM-dd' }}
            </mat-card-actions>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1>{{ meet["topic"] }}</h1>
          <h2>{{ meet["description"] }}</h2>
        </mat-card-content>
        <h1>Linki</h1>
        <mat-card-footer>
          <a target="_blank" href="{{ meet['meetingHref'] }}"> <button mat-raised-button>Do spotkania</button></a>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
