<div class="card" *ngFor="let meet of meetings">
  <div class="card-header">
    <div class="card-user"> Prowadzący:  {{ meet["leader"] }}</div>
    <div class="card-topic">{{ meet["topic"] }}</div>
    <div class="card-date">Data:  {{ meet["date"] | date: 'yyyy-MM-dd' }}</div>
  </div>
  <div class="card-footer">
    <div class="card-description"><h2>{{ meet["description"] }}</h2></div>
    <div class="card-tags">Tagi <h2>{{ meet["tags"] }}</h2></div>
    <div class="card-link"><a target="_blank" href="{{ meet['meetingHref'] }}"> <button class="card-button">Do spotkania</button></a></div>
  </div>
</div>
